/**
 * Reset some basic elements
 */
body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
  margin: 0;
  padding: 0;
}

/**
 * For identifying overflow issues, delete for production
 */
* {
    outline: 1px solid tomato;
    opacity: 1 !important;
    visibility: visible !important;
}

/**
 * Basic styling
 */
body {
  font: $base-font-weight #{$base-font-size}/#{$base-line-height} $base-font-family;
  color: $text-color;
  background-color: $background-color;
  -webkit-text-size-adjust: 100%;
}



/**
 * Set `margin-bottom` to maintain vertical rhythm
 */
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
ul, ol, dl, figure,
%vertical-rhythm {
  margin-bottom: $spacing-unit / 2;
}



/**
 * Images
 */
img {
  max-width: 100%;
  vertical-align: middle;
}



/**
 * Figures
 */
figure > img {
  display: block;
}

figcaption {
  font-size: $small-font-size;
}



/**
 * Lists
 */
ul, ol {
  margin-left: $spacing-unit;
}

li {
  > ul,
  > ol {
    margin-bottom: 0;
  }
}



/**
 * Headings
 */
h1, h2, h3, h4, h5, h6 {
  font-weight: $base-font-weight;
}



/**
 * Links
 */
a {
  color: $brand-color;
  text-decoration: none;

  &:visited {
    color: darken($brand-color, 1%);
  }

  &:hover {
    color: darken($brand-color, 10%);
    border-bottom: 2px solid;
    padding-bottom: 4px;
  }

}


/**
 * Blockquotes
 */
blockquote {
  color: $grey-color;
  border-left: 4px solid $grey-color-light;
  padding-left: $spacing-unit / 2;
  @include relative-font-size(1.125);
  letter-spacing: -1px;
  font-style: italic;

  > :last-child {
    margin-bottom: 0;
  }
}



/**
 * Code formatting
 */
pre,
code {
  @include relative-font-size(0.9375);
  background-color: #fff;
}

code {
  padding: 1px 5px;
}

pre {
  padding: 8px 12px;
  overflow-x: auto;

  > code {
    border: 0;
    padding-right: 0;
    padding-left: 0;
  }
}

/**
 * Greeting
 */
.greeting {
  @include relative-font-size(6);
  font-weight: bold;
  background: linear-gradient(90deg, #24735C 20%, #04403A);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: block;
  padding: $spacing-unit 0;

  @include media-query($on-laptop) {
    @include relative-font-size(2.25);
  }

  @include media-query($on-palm) {
    padding: $spacing-unit / 2 0;
  }
}

/**
 * Intro
 */
.intro {
  @include relative-font-size(1.563);
  padding: $spacing-unit 0;

  @include media-query($on-palm) {
    font-size: $base-font-size;
  }
}


/**
 * Wrapper
 */
.wrapper {
  max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit} * 2));
  max-width:         calc(#{$content-width} - (#{$spacing-unit} * 2));
  margin-right: auto;
  margin-left: auto;
  @extend %clearfix;

  @include media-query($on-laptop) {
    max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit}));
    max-width:         calc(#{$content-width} - (#{$spacing-unit}));
    padding-right: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
  }
}



/**
 * Clearfix
 */
%clearfix:after {
  content: "";
  display: table;
  clear: both;
}


/**
 * Grid
 */
.line {
  clear: both;
  overflow: hidden;
}

.sizewrap {
  max-width: $content-width;
  margin: 0 auto;
}

.imagewrap {
  position: relative;
  clear: both;
}

.grid-unit {
  box-sizing: border-box;
  padding: 0;
  float: left;
  position: relative;
}

.sub-unit {
  padding: 0;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.centered {
  float: none;
  margin-left: auto;
  margin-right: auto;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

// ------------- By 8ths ------------ //
.size1of1, .size8of8 {
  width: 100%;
  @extend .grid-unit;
}
.size7of8 {
  width: $content-width*7/8;
  @extend .grid-unit;
}
.size6of8, .size3of4 {
  width: $content-width*6/8;
  @extend .grid-unit;
}
.size5of8 {
  width: $content-width*5/8;
  @extend .grid-unit;
}
.size4of8, .size1of2 {
  width: $content-width*4/8;
  @extend .grid-unit;
}
.size3of8 {
  width: $content-width*3/8;
  @extend .grid-unit;
}
.size2of8, .size1of4 {
  width: $content-width*2/8;
  @extend .grid-unit;
}
.size1of8 {
  width: $content-width*1/8;
  @extend .grid-unit;
}

// ------------- By 3rds ------------ //
.size2of3 {
  @extend .grid-unit;
  width: 100%*2/3;
}
.size1of3 {
  @extend .grid-unit;
  width: 100%*1/3;
}

// ---------- Grid margins ------------ //
.left1of8 {
  margin-left: $content-width*1/8;
}
.left1of16 {
  margin-left: $content-width*1/16;
}
.left1of24 {
  margin-left: $content-width*1/24;
}

.right1of8 {
  margin-right: $content-width*1/8;
}
.right1of16 {
  margin-right: $content-width*1/16;
}
.right1of24 {
  margin-right: $content-width*1/24;
}


/**
 * Margin and padding
 */
.margin0 {
  margin: 0 !important;
}
.top0 {
  margin-top: 0 !important;
}
.topquarter {
  margin-top: .25em !important;
}
.tophalf {
  margin-top: .5em !important;
}
.top1 {
  margin-top: 1em !important;
}
.top1half {
  margin-top: 1.5em !important;
}
.top2 {
  margin-top: 2em !important;
}
.top2-small {
  .sizrizr-small & {
    margin-top: 2em !important;
  }
}
.top2-mid {
  .sizrizr-mid & {
    margin-top: 2em !important;
  }
}
.top3quarter {
  margin-top: 3.15em !important;
}
.top4half {
  margin-top: 4.5em !important;
}
.top5 {
  margin-top: 5em !important;
}
.bottom0 {
  margin-bottom: 0 !important;
}
.bottom1 {
  margin-bottom: 1em !important;
}
.bottom2 {
  margin-bottom: 2em !important;
}
.bottom4 {
  margin-bottom: 14em !important;
}
.bottom4-mid {
  .sizrizr-mid & {
    margin-bottom: 4em !important;
  }
}

.marginhalf {
  margin: .5em !important;
}
.margin-left-0 {
  margin-left: 0 !important;
}
.margin-right-0 {
  margin-right: 0 !important
}

.padding0 {
  padding: 0 !important;
}
.padding-left-0 {
  padding-left: 0 !important;
}
.padding-right-0 {
  padding-right: 0 !important;
}
