/**
 * Site header
 */
.site-header {
  padding: $spacing-unit * 1.5 0;

  @include media-query($on-palm) {
    margin: 0;
    padding: $spacing-unit 0;
  }
}

.site-title {
  @include relative-font-size(1.125);
  font-weight: bold;
  float: left;

  &,
  &:hover {
    color: $grey-color;
    padding-bottom: 0;
    border-bottom: 0;
  }


  &,
  &:visited {
    color: $grey-color;
  }
}

.site-nav {
  float: right;
  // line-height: $base-line-height * $base-font-size * 2.25;

  .page-link {
    @include relative-font-size(1.063);
    font-weight: normal;
    color: $text-color;
    line-height: $base-line-height;

    // Gaps between nav items, but not on the last one
    &:not(:last-child) {
      margin-right: 20px;
    }
  }

  @include media-query($on-palm) {
    margin-top: $spacing-unit / 2;
    position: relative;
    display: block;
    text-align: left;
    float: left;
    clear: both;

    .page-link {
      margin-right: 20px;
      &:not(:last-child) {
        margin-left: 0;
      }
    }
  }
}



/**
 * Site footer
 */
.site-footer {
  padding: $spacing-unit 0;
  @include relative-font-size(0.938);
  color: $white-color;
  background: linear-gradient(90deg, #04403A 25%, #24735C);
  -webkit-animation-name: fade;
  -webkit-animation-duration: 2s;
  position: relative;
  right: 0;
  bottom: 0;
  left: 0;

  a {
    color: inherit;
    border-bottom: 2px solid;
    padding-bottom: 4px;
    margin-left: 10px;

    &:not(:last-child) {
      margin-right: 10px;
    }
  }

  @include media-query($on-palm) {
    .footer-links {
      margin-top: $spacing-unit;
      display: block;
      text-align: left;
      float: left;
      clear: both;

      &:not(:last-child) {
          margin-right: 0;
      }
    }
  }
}


@include media-query($on-palm) {
  .size1of2, .size1of3, .size1of4, .size1of5, .size1of6, .size1of7, .size1of8, .size3of4, .size3of8 {
    margin-left: auto;
    margin-right: auto;
    float: none;
    width: 100%;
  }
}

@include media-query($on-laptop) {
  .size1of2, .size1of3, .size1of4, .size1of5, .size1of6, .size1of7, .size1of8, .size3of4 {
    margin-left: auto;
    margin-right: auto;
    float: none;
    width: 100%;
  }
}



/**
 * Page content
 */
.page-content {
  padding: $spacing-unit 0;
  margin-bottom: $spacing-unit * 3;
  -webkit-animation-name: fade;
  -webkit-animation-duration: 2s;
  min-height: 80vh;
}

.page-heading {
  @include relative-font-size(1.25);
}

.post-list {
  margin-left: 0;
  list-style: none;

  > li {
    margin-bottom: $spacing-unit;
  }
}

.post-meta {
  font-size: $small-font-size;
  color: $grey-color;
}

.post-link {
  @include relative-font-size(1.5);
}



/**
 * Posts
 */
.post-header {
  margin-bottom: $spacing-unit;
}

.post-title {
  @include relative-font-size(6);
  font-weight: bold;
  background: linear-gradient(90deg, #24735C, #04403A 30%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: block;
  margin: 18px 0;

  @include media-query($on-laptop) {
    @include relative-font-size(2.25);
  }
}

.post-content {
  margin-bottom: $spacing-unit;

  h2 {
    @include relative-font-size(2);

    @include media-query($on-laptop) {
      @include relative-font-size(1.75);
    }
  }

  h3 {
    @include relative-font-size(1.625);

    @include media-query($on-laptop) {
      @include relative-font-size(1.375);
    }
  }

  h4 {
    @include relative-font-size(1.25);

    @include media-query($on-laptop) {
      @include relative-font-size(1.125);
    }
  }
}

/**
 * CSS Animation
 */
@-webkit-keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
