<footer class="site-footer">

  <div class="wrapper">

    <div class="size2of8">
      Updated: <a href="https://bitbucket.org/aaronarich/personal-site/commits/all" target="_blank">{{ 'now' | date: "%B %d, %Y" }}</a>
    </div>

    <div class="size3of8 float-right text-right footer-links">
      <span>@aaronarich</span>
      <a class="page-link" href="https://github.com/aaronarich/">Github</a>
      <a class="page-link" href="https://instagram.com/aaronarich/">Instagram</a>
      <a class="page-link" href="https://twitter.com/aaronarich/">Twitter</a>
    </div>

  </div>

  <script type="text/javascript">
    (function($) {
      var currentTime = new Date();
        if ( currentTime.getHours() < 12 )
          {
            salutation = "Good&nbsp;Morning,";
          }
        else
          if ( currentTime.getHours() >= 12 && currentTime.getHours() <= 17 )
            {
              salutation = "Good&nbsp;Afternoon,";
            }
          else
            if ( currentTime.getHours() > 17 && currentTime.getHours() <= 24 )
              {
                salutation = "Good&nbsp;Evening,";
              }
          else
            {
              salutation = "Hello!";
            }
      $(".greeting").append(salutation);
    }(jQuery));
  </script>

</footer>
