@charset "utf-8";

// Define defaults for each variable.

$base-font-family: "Roboto", Helvetica, Arial, sans-serif !default;
$base-font-size:   16px !default;
$base-font-weight: 400 !default;
$small-font-size:  $base-font-size * 0.875 !default;
$base-line-height: 1.5 !default;

$spacing-unit:     30px !default;
$gutter:           15px !default;

$text-color:       #787878 !default;
$background-color: #ffffff !default;
$brand-color:      #24735C !default;

$grey-color:       #787878 !default;
$grey-color-light: lighten($grey-color, 40%) !default;
$grey-color-dark:  darken($grey-color, 25%) !default;

$white-color: #ffffff !default;

// Width of the content area
$content-width:    1080px !default;

$on-palm:          600px !default;
$on-laptop:        1024px !default;

// Use media queries like this:
// @include media-query($on-palm) {
//   .wrapper {
//     padding-right: $spacing-unit / 2;
//     padding-left: $spacing-unit / 2;
//   }
// }
@mixin media-query($device) {
  @media screen and (max-width: $device) {
    @content;
  }
}

@mixin relative-font-size($ratio) {
  font-size: $base-font-size * $ratio;
}

// Import partials.
@import
  "v1/base",
  "v1/layout",
  "v1/syntax-highlighting"
;
