---
layout: default
---

<div class="home">

  {{ content }}

  <h1 class="post-title">Posts</h1>

  <ul class="post-list">
    {% for post in site.posts %}
      {% if post.projects != null %}
      {% else %}
      <li>
        {% assign date_format = site.v1.date_format | default: "%b %-d, %Y" %}
        <span class="post-meta">{{ post.date | date: date_format }}</span>

        <h2>
          <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
        </h2>
      </li>
      {% endif %}
    {% endfor %}
  </ul>

  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p>

</div>
