---
layout: default
---

<div class="home">

  {{ content }}

  <h1 class="post-title">Projects</h1>

  <ul class="post-list">
    {% for post in site.posts %}
      {% if post.projects == 'projects' %}
      <li>
        <h2>
          <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
        </h2>
      </li>
      {% endif %}
    {% endfor %}
  </ul>

  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p>

</div>
